body{
	background-color: #e9e9e9;
}

main{
	background-color: white;
	border-radius: 6px;
	border: 1px solid #d1d1d1;
	margin: 1em;
	padding: 0.75em;
}

#footer{
	background-color: #f2f2f2;
	padding: 0.5em;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

.grey-back{
	background-color: #f9f9f9;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 0.5em;
}

img{
	width: 100%;
}

hr{
	color: #d1d1d1;
	background-color: #d1d1d1;
}

/* TYPE */

h1, h2{
	color: #a22544;
	font-family: arial;
	font-size: 1.1em;

}

p{
	font-family: arial;
	font-size: 1em;
}

figure{
	margin: 0;
	padding: 0;
	width: 100%;
}

figcaption{
	font-family: arial;
	font-size: 0.75em;
	color: #666;
}

blockquote{
	background-color: #fcfcfc;
}

blockquote p{
	font-family: georgia;
}


cite{
	font-family: georgia;
	font-size: 0.75em;
	color: #666;
}

/*LISTS*/

li{
	font-family: arial;
}

dl{
	overflow: hidden;
	/* ^ reminds dl to wrap around its floated children*/
	font-family: arial;
}

dt{
	float: left;
	clear: left;
	width: 8em;
	font-family: arial;
}

dd{
	float: left;
	margin: 0;
	padding: 0;
	font-family: arial;
}

.tags-list{
	list-style-type: none;
}

.tags-list li{
	display: inline;
	background-color: #e7cad1;
	border-radius: 10px;
	border: 1px solid #a22544;
	padding: 0.25em;
}